#loginBody {
	/* background: url(img/download\ \(1\).jpeg) no-repeat center center fixed; */
	background-size: cover;	
}

#loginBody .main-section {
	margin: 0 auto;
	margin-top: 250px;
	padding: 0;
}

#loginBody .modal-content {
	background-color: rgba(100,100,100,0);
	padding: 0 18px;
	border: 0;
}

#loginBody .form-group {
	margin-top: 25px;
	margin-bottom: 25px;	
}

#loginBody .form-group input {
	height: 42px;
	border-radius: 20px;
	border: 0;
	font-size: 18px;
	background-color: #d1d1d1; 
}

#loginBody button {
	width: 50%;
	margin: 5px 0 25px;
}

#loginBody .btn {
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 10px;
}

#loginBody #errormessage {
	font-size: 18px;
	color: red;
}