<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item px-3">
                <button type="button" id="hotelBtn" class="btn btn-outline-dark active"
                    ng-click="$ctrl.viewHotel()">Hotel</button>
            </li>
            <li class="nav-item px-3">
                <button type="button" id="adminBtn" class="btn btn-outline-dark"
                    ng-click="$ctrl.viewAdmin()">Admin</button>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">{{userName}}</a>  
            </li>
        </ul>

        <button type="button" class="btn btn-primary px-3" data-toggle="modal" data-target="#exampleModal">
            Add new {{user}}
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">New {{user}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add form -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 py-3" ng-repeat="item in details">
                                <input type="{{item.type}}" placeholder="{{item.fieldName}}" id="{{item.fieldName}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.addNewItem()">Save changes</button>
                </div>
            </div>
        </div>
        </div>

        <div class="my-2 my-lg-0 px-3">
            <button class="btn btn-danger my-2 my-sm-0" ng-click="$ctrl.logout()">Log out</button>
        </div>
    </div>
</nav>

<div class="container py-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" ng-repeat="column in columns" class="text-capitalize">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td ng-repeat="column in columns">{{row[column]}}</td>
            </tr>
        </tbody>
    </table>
</div>